#login-modal-parent {
  /* border-radius: 20px; */
  text-align: center;
  width: 400px;
  height: fit-content;
}

#login-modal {
  display: flex;
  /* border: 4px solid black; */
  flex-direction: column;
  height: fit-content;
  gap: 5px;
}

ul {
  padding: 0px;
  margin: 0px;
}

#login-as-demo-user,
#login-only-button {
  width: 80%;
}

#login-as-demo-user {
  color: red;
}
