.profile-dropdown {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  background-color: white;
  list-style: none;
  padding: 10px 10px;
  margin-top: 5px;
  position: absolute;
  width: 160px;
  margin-left: -130px;
}

#create-listing-dropdown-button,
#logout-dropdown-button {
  font-weight: 600;
  width: 100%;
  padding: 5px;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  background-color: white;
}

#create-listing-dropdown-button:hover {
  color: #228b22;
}

#logout-dropdown-button:hover {
  color: red;
}

.hidden {
  display: none;
}

#nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* border: 4px solid blue; */
  height: 50px;
}

#dogsy-title {
  color: #eb6d20;
}

#dogsy {
  /* border: 4px solid green; */
  margin-left: 5px;
}

#profile-button {
  /* border: 4px solid green; */
  margin-right: 5px;
}

.login-button {
  /* color: #eb6d20; */
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  border: 3px solid #eb6d20;
}

.fas,
.fa-solid,
#all-listings-link {
  padding: 0px;
  margin: 0px;
}

#right-side-nav {
  display: flex;
  margin-right: 10px;
  gap: 10px;
  justify-content: center;
  text-align: center;
}
