#landing-page-about-info {
  text-align: center;
  padding: 20px;
}

#homepage-image {
  height: 400px;
  width: 400px;
  object-fit: cover;
  display: flex;
}

#landing-page-child {
  display: flex;
  padding: 15px 20px;
  width: 400px;
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out;
}

#landing-page-child:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 16px 0px;
}
