#all-products {
  /* border: solid 4px red; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* grid-template-rows: repeat(auto-fill, minmax(200px, 1fr)); */
  gap: 10px;
  max-width: 1500px;
  /* justify-content: center; */
}

#one-product {
  /* border: solid 4px green; */
  width: 200px; /* Set a fixed width for each item */
  /* You can keep or remove the min-width property depending on your design needs */
  /* min-width: 200px; */
}

#all-products-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
